<h1>Viewing Mood</h1>

<p>
  <strong>Mood:</strong>
  <%= @mood.mood %>
</p>

<p>
  <strong>Emotion:</strong>
  <%= @mood.emotion %>
</p>

<p>
  <strong>Stability:</strong>
  <%= @mood.stability %>
</p>

<p>
  <strong>Focus:</strong>
  <%= @mood.focus %>
</p>
